.home_banner {
  background-image:url(../../images/Banner.jfif);
  background-size: cover;
  height: 650px;
}

.home_bannerInfo {
  background-color: red;
  position: relative;
  top: 150px;
}

.home_bannerInfo > h1 {
  line-height: 68px;
  text-align: center;
  color: white;
  font-weight: 700;
  font-family: var(--mont500);
}

.home_bannerInfo > h2 {
  line-height: 22px;
  text-align: center;
  color: white;
  font-weight: 400;
  font-family: var(--mont500);
}
